<nav class="navbar navbar-expand-sm bg-info navbar-dark">

  <a class="navbar-brand" href="#">Catholic Prayers</a>

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>

    <li class="nav-item">
        <a routerLink="prayers" class="nav-link" routerLinkActive="active">Prayers</a>
    </li>

    <li class="nav-item">
      <a routerLink="wordofgod" class="nav-link" routerLinkActive="active">Word Of God</a>
  </li>

  </ul>
</nav>
