<div class="container-fluid">
  <br>
  <div class="card">
    <div class="panel panel-primary">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let prayer of prayers">
              <td style="vertical-align:middle">{{prayer.prayerName}}</td>
              <td style="vertical-align:middle">
                  <button (click)="prayerDetails(prayer.id)" class="btn btn-info" style="margin-left: 10px">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>
