<div class="container-fluid">
  <br>
  <div class="card">
    <div class="card-body">
      <div class="card-body text-center">
        <blockquote class="blockquote mb-0">
          <p>Indeed, the word of God is living and active, sharper than any two-edged sword,
            piercing until it divides soul from spirit, joints from marrow;
            it is able to judge the thoughts and intentions of the heart.</p>
          <footer class="blockquote-footer">
            <cite title="reference">Hebrews 4 : 12</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="container-bible">
    <span class='fas fa-bible' style='font-size:50px;color:#17a2b8'></span>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           To Get Job
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">For nothing will be impossible with God.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Luke 1 : 37</i>
              </span>
            </li>
            <li class="list-group-item">Ask, and it will be given you;
              search, and you will find; knock, and the door will be opened for you.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Matthew 7 : 7</i>
              </span>
            </li>
            <li class="list-group-item">I will go before you
              and level the mountains,
          I will break in pieces the doors of bronze
              and cut through the bars of iron,
          I will give you the treasures of darkness
              and riches hidden in secret places,
          so that you may know that it is I, the Lord,
              the God of Israel, who call you by your name.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Isaiah 45 : 2-3</i>
              </span>
            </li>
            <li class="list-group-item">The Lord, your God, is in your midst,
              a warrior who gives victory;
          he will rejoice over you with gladness,
              he will renew you[a] in his love;
          he will exult over you with loud singing.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Zephaniah 3 : 17</i>
              </span>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Prosperity
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">The blessing of the Lord is the reward of the pious,
              and quickly God causes his blessing to flourish.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Sirach 11 : 22</i>
              </span>
            </li>

            <li class="list-group-item">What no eye has seen, nor ear heard,
              nor the human heart conceived,
          what God has prepared for those who love him.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- 1 Corinthians 2 : 9</i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            God's Protection
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">For they trust to arms and acts of daring,”
              he said, “but we trust in the Almighty God, who is able with a single nod
              to strike down those who are coming against us, and even, if necessary, the whole world.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- 2 Maccabees 8 : 18</i>
              </span>
            </li>
            <li class="list-group-item">If God is for us, who is against us?
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Romans 8 : 31</i>
              </span>
            </li>
            <li class="list-group-item">No weapon that is fashioned against you shall prosper,
              and you shall confute every tongue that rises against you in judgment.
          This is the heritage of the servants of the Lord
              and their vindication from me, says the Lord.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Isaiah 54 : 17</i>
              </span>
            </li>
            <li class="list-group-item">I will place on his shoulder the key of the house of David; he shall open,
              and no one shall shut; he shall shut, and no one shall open.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Isaiah 22 : 22</i>
              </span>
            </li>
            <li class="list-group-item">Those who trust in the Lord are like Mount Zion,
              which cannot be moved, but abides forever.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Psalm 125 : 1</i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            Healing
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">But those who wait for the Lord shall renew their strength,
              they shall mount up with wings like eagles,
          they shall run and not be weary,
              they shall walk and not faint.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Isaiah 40 : 31</i>
              </span>
            </li>

            <li class="list-group-item">The prayer of faith will save the sick,
              and the Lord will raise them up; and anyone who has committed sins will be forgive.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- James 5 : 15</i>
              </span>
            </li>

            <li class="list-group-item">Heal me, O Lord, and I shall be healed;
              save me, and I shall be saved;
              for you are my praise.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Jeremiah 17 : 14</i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
            Others
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Unless the Lord builds the house,
              those who build it labor in vain.
          Unless the Lord guards the city,
              the guard keeps watch in vain.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Psalm 127 : 1</i>
              </span>
            </li>
            <li class="list-group-item">The young lions suffer want and hunger,
              but those who seek the Lord lack no good thing.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Psalm 34 : 10</i>
              </span>
            </li>
            <li class="list-group-item">The God of heaven is the one who will give us success.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Nehemiah 2 : 20</i>
              </span>
            </li>
            <li class="list-group-item">Now I was the last to keep vigil;
              I was like a gleaner following the grape-pickers;
              by the blessing of the Lord I arrived first,
              and like a grape-picker I filled my wine press.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Sirach 33 : 16-17</i>
              </span>
            </li>
            <li class="list-group-item">NCall to me and I will answer you,
              and will tell you great and hidden things that you have not known.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Jeremiah 33 : 3</i>
              </span>
            </li>
            <li class="list-group-item">Now to him who by the power
              at work within us is able to accomplish abundantly far more than all we can ask or imagine.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Ephesians 3 : 20</i>
              </span>
            </li>
            <li class="list-group-item">But the Advocate, the Holy Spirit, whom the Father will send in my name,
              will teach you everything, and remind you of all that I have said to you.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- John 14 : 26</i>
              </span>
            </li>
            <li class="list-group-item">I will give them a heart to know that I am the Lord;
              and they shall be my people and I will be their God, for they shall return to me with their whole heart.
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Jeremiah 24:7 </i>
              </span>
            </li>
            <li class="list-group-item">The scripture says, “No one who believes in him will be put to shame".
              <br>
              <span style='padding-bottom:10px;padding-top:15px;color:#6c757d'>
                <i> -- Romans 10 : 11 </i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
